
<div>
    <table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Author</th>
      <th scope="col">Year</th>
      <th scope="col">Price</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngIf="books.length == 0">
      <td colspan="5" style="text-align: center"> <h2>There are no prdoucts yet</h2></td>
    </tr>
    <tr *ngFor="let book of books">
      <td>{{book.id}}</td>
      <td>{{book.name}}</td>
      <td>{{book.author}}</td>
      <td>{{book.year}}</td>
      <td>{{book.price}}</td>
      <td><button type="button" class="btn btn-primary">Edit</button>
        &nbsp;cd
        <button type="button" class="btn btn-danger" (click)="onDeleteBook(book.id)">Delete</button>
      </td>
    </tr>
    
  </tbody>
</table>

<button type="button" class="btn btn-primary" (click)="RedirectToAddBook()">Add new Book</button>
<button type="button" class="btn btn-primary" (click)="getLatestAndOldest()">View oldest & latest</button>

</div> 
